version: "3"
services:
  hapi-fhir:
    image: "hapiproject/hapi:latest"
    container_name: hapi-fhir
    # 1. Map Render's external port to the container's new internal port
    ports:
      - "${PORT}:${PORT}"
    # 2. Pass Render's PORT value into the container
    environment:
      # This tells the HAPI/Spring Boot app to listen on the value of $PORT
      - SERVER_PORT=${PORT}
    volumes:
      - hapi_h2_data:/app/h2-data

volumes:
  hapi_h2_data: