version: "3"
services:
  hapi-fhir:
    image: "hapiproject/hapi:latest"
    container_name: hapi-fhir
    ports:
      - "${PORT}:8080"
    volumes:
      # This volume persists the embedded H2 database files across restarts.
      - hapi_h2_data:/app/h2-data
volumes:
  hapi_h2_data:
